{% block header %}
    <header class="p-3 bg-warning text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{{ path('app_home') }}"
                   class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="{{ asset('assets/images/logo-website.png') }}" class="me-3 rounded" alt="logo-website"
                         style="height: 80px; width: 80px;">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{{ path('app_home') }}" class="nav-link px-2 text-white">Accueil</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle px-2 text-white" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Catégories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_weapons_category_a') }}">Catégorie A</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_weapons_category_b') }}">Catégorie B</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_weapons_category_c') }}">Catégorie C</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_weapons_category_d') }}">Catégorie D</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="{{ path('app_weapons') }}" class="nav-link px-2 text-white">Toutes nos armes</a></li>
                    <li><a href="{{ path('app_weapons_search_form') }}" class="nav-link px-2 text-white">Recherchez
                            votre arme</a></li>
                </ul>
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Se connecter</button>
                    <button type="button" class="btn btn-dark" onclick="window.location.href='/register'">S'inscrire</button>                </div>
            </div>
        </div>
    </header>
{% endblock %}